# Servidor
PORT=3000

# Banco de Dados (MySQL)
DB_HOST=sql10.freesqldatabase.com
DB_USER=seu_usuario
DB_PASS=sua_senha
DB_NAME=seu_banco

# Autenticação do Admin
ADMIN_USER=admin
ADMIN_PASS=senha123
ADMIN_TOKEN=token_secreto_da_aplicacao
